@import "compass/css3";

/* general settings */

*{
	outline: none;
	
	::-webkit-input-placeholder { color:#fff; font-size:14px; font-family: $bodyFontFamily; display: block; text-align: center; }
	::-moz-placeholder { color:#fff; font-size:14px; font-family: $bodyFontFamily; display: block; text-align: center; } /* firefox 19+ */
	:-ms-input-placeholder { color:#fff; font-size:14px; font-family: $bodyFontFamily; display: block; text-align: center; } /* ie */
	input:-moz-placeholder { color:#fff; font-size:14px; font-family: $bodyFontFamily; display: block; text-align: center; }

	/* Let's get this party started */
	::-webkit-scrollbar {
	    width: 8px;
	}
	 
	/* Track */
	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(250,250,250,0.3); 
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: rgba(255,255,255,0.8); 
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(255,255,255,0.4); 
	}

}


html,body{
	height     : 100%;
	width      : 100%;
	margin     : 0;
	padding    : 0;
	background : $bgcolor;
	color      : #959595;
	font       : normal 14px/150% $bodyFontFamily;
	letter-spacing: 1px;
}

body{overflow-y : scroll;}

p{
	font       : normal 14px/150% $bodyFontFamily;
	letter-spacing: 1px;	
	
	span{color: #636363;}
}

#container{
	width   : $rowWidth;
	margin  : 0 auto;
	display : block;
}

.wrapper{
	width: 100%;
	height: 100%;
	float: left;
	background : url(../images/line.png) repeat-y 370px 0;
	padding-bottom: 100px;
}

.row{margin-top:40px}

.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}

.left-icon{
	background: url(../images/icon-left-poss.png) no-repeat 39% 0%;
}

.right-icon{
	background: url(../images/icon-right-poss.png) no-repeat 37.7% 0%;
}

.top-icon{
	background-image : url(../images/icon-center-poss.png), url(../images/arrow.png);
	background-position: 38.5% 0, 38.5% 100%;
	background-repeat: no-repeat;
	background-color: $bgcolor;
	padding: 20px 0 10px;
}

#facebook, #twitter{
	display: block;
}

.time-text, .kkcountdown-box{
	display: block;
	float:left;

	span{
		width: 100%;
		display: block;
		clear: both;
		
		&.kkc-dni, &.day{color: #de6961;}
		&.kkc-godz, &.hour{color: #7ec7d6;}
		&.kkc-min, &.minutes{color: #a3d183;}
		&.kkc-sec, &.second{color: #b8937d;}
	}
}

.time-text{
	width: 75%;
	span{
		font: normal 10px/150% $nexaLight;
		height: 46px;
		text-align: right;
	}
}

.kkcountdown-box{
	width: 25%;
	span{
		font: normal 46px/100% $nexaBold;
		height: 46px;
		text-align: right;	
		&.kkc-dni-text, &.kkc-godz-text, &.kkc-min-text, &.kkc-sec-text{
			display: none;
		}
	}
}

.user{
	margin-bottom: 10px;
}


// ACORDION STYLE

.ac-container{
	width : 380px;
	margin: 0 auto;
	text-align: left;

	.thanks{
		display     : none;
		padding-top : 35%;
		text-align  : center;
		position    : absolute;
		top         : 0;
		left        : 0;
		width       : 100%;
		height      : 100%;
		color       : #fff;
		font        : normal 15px/130% $nexaBold;
		z-index     : 30;

		span{
			margin-bottom: 20px;
			display: block;
			float: left;
			clear: both;
		}
		
		a{
			color: #fff;
			margin-top: 20px;
			padding: 10px 20px;
		}
	}
}

.ac-container div{
	margin-bottom: 5px;
	position: relative;

	&.qoute{
		background: #7ec7d6;
		.ac-container label:hover{
			background: #79bbc9;	
		}

		.thanks{
			background: #7ec7d6;
			a{background: #48a3b6}
		}
	}
	&.photo{
		background: #de6962;
		.ac-container label:hover{
			background: #cb6761;	
		}

		.thanks{
			background: #de6962;
			padding-top: 22%;
			a{background: #c12d24}
		}
	}
	&.video{
		background: #a3d183;
		.ac-container label:hover{
			background: #94cd6c;	
		}

		.thanks{
			background: #a3d183;
			padding-top: 9%;
			a{background: #6ca247}
		}
	}
}

.ac-container label{
	font-family : $nexaBold;
	position    : relative;
	z-index     : 20;
	display     : block;
	height      : 30px;
	cursor      : pointer;
	color       : #fff;
	font-size   : 15px;
	line-height : 30px;
	text-align  : center;
	margin      : 0;
	
	&.error{
		position    : absolute;
		color       : #7b221d;
		font-size   : 7px;
		bottom      : -15px;
		font-family : arial;
		display     : block;
		font-style  : italic;
	}
}

.ac-container em{
	font-size  : 10px;
	text-align : center;
	display    : block;
	color      : #fff;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	color: #fff;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}

.ac-container article{
	padding: 0 30px;
	display: none;
	
	textarea{
		border: none;
		resize: none;
		background: url(../images/border.png) repeat 0 0;
		color: #fff;
		height: 185px;
		font: normal 14px/30px $bodyFontFamily;
		letter-spacing: 1px;
		-webkit-appearance:none;
	    -moz-appearance:none;
	    appearance:none;
		@include border-radius(0);
		@include box-shadow(rgba(0,0,0,0) 0 0);
		
		&.error:focus {
			background: url(../images/border.png) repeat 0 0;
			@include box-shadow(rgba(255,255,255,0.7) 0px 0px 10px);
		}
		
	}

	select{
		-webkit-appearance:none;
	    -moz-appearance:none;
	    appearance:none;
		border: none;
		color: #fff;
		font: normal 14px/30px $bodyFontFamily;
		letter-spacing: 1px;
		background: url(../images/arrow-down.png) transparent no-repeat right center;
		

		option{
			color: #000;
			font: normal 14px/30px $bodyFontFamily;
			background: #fff;
		}
	}

	input[type="submit"]{
		background : #48a3b6;
		color      : #fff;
		padding    : 10px 20px;
		font       : normal 15px/150% $bodyFontFamily;
		border     : none;
		letter-spacing: 1px;
		float: right;
		cursor: pointer;
	}

	input[type="text"]{
		border: none;
		color: #fff;
		height: 30px;
		font: normal 14px/30px $bodyFontFamily;
		letter-spacing: 1px;
		-webkit-appearance:none;
	    -moz-appearance:none;
	    appearance:none;
		@include border-radius(0);
		@include box-shadow(rgba(0,0,0,0) 0 0);
	}

	div.custom_file_upload {
		width: 135px;
		height: 25px;
		margin: 15px auto;
	}


	div.file_upload {
		width: 135px;
		height: 35px;
		line-height: 35px;
		background: #c12d24;
		display: inline;
		position: absolute;
		overflow: hidden;
		cursor: pointer;
		color: #fff;
		text-align: center;
		
		label.error{
			bottom: 9px;
			color: #fff;
			width: 100%;
			height: 10px;
		}
	}

	div.file_upload:before {
		content: 'browse photo';
		position: absolute;
		left: 0; right: 0;
		text-align: center;
		cursor: pointer;
		line-height: 35px;
	}

	div.file_upload input {
		position: relative;
		height: 35px;
		line-height: 35px;
		width: 135px;
		display: inline;
		cursor: pointer;
		opacity: 0;
	}
}

.ac-container .photo{
	article{
		input[type="text"]{
			background: url(../images/red-border.png) repeat-x bottom center;
		}

		input[type="submit"]{
			background: #c12d24;
		}
	}
}
.ac-container .video{
	article{
		input[type="text"]{
			background: url(../images/green-border.png) repeat-x bottom center;
		}

		input[type="submit"]{
			background: #6ca247;
		}
	}
}

/** loading bar style **/
.preload{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0% 10%;
	background: #fff;
	z-index: 30;
}
.meter { 
		height     : 15px;  /* Can be anything */
		position   : relative;
		margin-top : 30%;
		background : #035ca9;
		padding    : 2px;
		text-align : center;
		font       : normal 11px $bodyFontFamily;
		color      : #000;
        @include border-radius(25px);
        @include box-shadow(rgba(0, 0, 0, 0.3) 0 1px 1px inset);
}
.meter > span {
		display       : block;
		height        : 100%;
		margin-bottom : 10px;
		position      : relative;
		overflow      : hidden;
        @include border-radius (8px);
        @include background(linear-gradient(#40bff1, #4098d3));
        @include box-shadow(rgba(255, 255, 255, 0.3) 0 2px 9px inset, rgba(0, 0, 0, 0.4) 0 -2px 6px inset);
        
}
.meter > span:after, .animate > span > span {
        content: "";
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        background-image: 
           -webkit-gradient(linear, 0 0, 100% 100%, 
              color-stop(.25, rgba(255, 255, 255, .2)), 
              color-stop(.25, transparent), color-stop(.5, transparent), 
              color-stop(.5, rgba(255, 255, 255, .2)), 
              color-stop(.75, rgba(255, 255, 255, .2)), 
              color-stop(.75, transparent), to(transparent)
           );
        background-image: 
                -moz-linear-gradient(
                  -45deg, 
              rgba(255, 255, 255, .2) 25%, 
              transparent 25%, 
              transparent 50%, 
              rgba(255, 255, 255, .2) 50%, 
              rgba(255, 255, 255, .2) 75%, 
              transparent 75%, 
              transparent
           );
        z-index: 1;
        -webkit-background-size: 50px 50px;
        -moz-background-size: 50px 50px;
        -webkit-animation: move 2s linear infinite;
        overflow: hidden;
        @include border-radius(8px);
}

.animate > span:after {
        display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.nostripes > span > span, .nostripes > span:after {
        -webkit-animation: none;
        background-image: none;
}